.member 
{
    border: solid 3px wheat;
    border-radius: 10px;
    overflow: hidden;
}
.caption 
{
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(5, 4, 4, 0.8);
    transition: top 1s;
    overflow: hidden;
}
.caption p 
{
    font-size: larger;
    padding: 10px;
}
.member:hover .caption
{
    top: 0%;
    cursor: pointer;
}
.member img 
{
    transition: transform 1s 1s;
}
.member:hover img
{
    transform: scale(1.1 ,1.1);
}